{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block content %}
<div class="d-lg-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Sobre Mí</h1>
</div>
<div class="row justify-content-center px-4 my-5">
  <div class="col-md-8">
    <div class="card border-0 rounded-4">
      <div class="row g-0 vertical-align-center">
        <div class="col-12">
        <img src="{% static 'blogeventos/img/avatar.jpg' %}" class="img-fluid rounded-circle" width="100" alt="Foto de perfil">
          <div class="card-body">
            <h5 class="card-title">¡Hola! Soy Yasmin,</h5>
            <p class="card-text">Ingeniera en Informática y apasionada de la naturaleza.</p>
            <p class="card-text">             
              Este es mi proyecto final del curso de Python y Django en CoderHouse.  <br>
              Podrás encontrar eventos, crear los tuyos y ver detalles de cada uno. 
            </p>
            <a href="https://github.com/ygh86" class="btn btn-outline-primary btn-sm">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}