{% extends 'base.html' %}

{% block title %}
Eliminar Evento
{% endblock title %}

{% block content %}


<div class="d-lg-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1>¿Estás seguro de que quieres eliminar este Evento?</h1>
</div>
<div class="mb-4 text-center w-50 mx-auto bg-secondary-subtle p-3 rounded-3">
    <p><strong>Nombre:</strong> {{ evento.nombre }}</p>
    <p><strong>Fecha de inicio:</strong> {{ evento.fecha_inicio|date:"d/m/Y H:i" }}</p>
    <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
</div>
    <form method="post" class="form-group mb-5 justify-content-center text-center">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
            <p class="mb-4">Una vez eliminado, no podrás recuperarlo.</p>
        <div class="d-flex gap-3 justify-content-center">
        <button type="submit" class="btn btn-danger">Sí, eliminar</button> 
        <a href="{% url 'blogeventos:evento_detail' evento.id %}" class="btn btn-success">No, volver</a>
        </div>
    </form>
    
{% endblock content %}